*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

header{
    display: flex;
    padding: 2rem;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 0.8rem;
    
}

#logo img{width: 8rem;}
#menu,#login{ display: flex; gap: 2rem; padding: 0.5rem; list-style: none;}
#menu a {text-decoration: none; color:black;}
#login button{width: 6rem; height: 2rem; border-radius: 1rem; background-color:greenyellow;}

#seccion1{
    text-align: left;
    color: white;
    background-image: url(../image/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding: 6rem;
    h1{font-size: 3rem; width: 35rem;padding-top: 10rem;}
    p{padding-top: 1rem;padding-bottom: 1rem;}
    button{padding: 1rem;border-color: green; background-color: greenyellow;border-radius: 1rem;}
}

#seccion2{
    text-align: center;
    width: 100%;
    align-items: center;
    display: grid;
    gap: 1rem;
    padding-left: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "text text text"
        "text2 text2 text2"
        "caja1 caja2 caja3";
    h2{grid-area: text; padding-top: 4rem;}
    p{grid-area: text2; padding-bottom: 3rem;}
    div{border: 1px solid black; height: 7rem;padding: 1rem;border-radius: 1rem;}
    .caja{text-align: left;h4{color: green;};color: greenyellow; background-color: grey;}
}

#footer{
    color: lightgrey;
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    ul {list-style: none; display: flex; gap: 1rem;}
}

.fsection{
    display: grid;
    text-align: center;
    align-items: center;
    padding: 1rem;
    div img{height: 20rem; width: auto;border-radius: 1rem;}
    h2 {padding-top: 5rem;}
    div .caja{border-radius: 0.5rem;}
}

 .container{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 3rem;
    justify-content: space-between;
 }

 #pseccion1{
    align-items: center;
    text-align: center;
    padding: 2rem;
 }

 #cajas{
    text-align: left;
    display: flex;
    padding: 5rem;
    h2{font-weight: bold; font-size: 2.5rem;}
    h4{font-weight: bold;font-size: 0.8rem;}
    justify-content: space-between;
    div {border: 1px solid black;padding: 2rem;border-radius: 1rem;height: 20rem;}
    p {padding: 1rem;}
    button{padding: 1rem;border-radius: 1rem;}
 }

 #pfooter{
    align-items: center;
    color: lightgrey;
    text-align: center;
    display: grid;
    ul{list-style: none; display: flex; gap: 1rem;justify-content: center;padding: 3rem;gap: 4rem;}
 }

#sseccion1 {
  display: grid;
  padding: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "cont info"
    "cont mapa";
  gap: 2rem;
  align-items: start;
}

#contactlist {
  grid-area: cont;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  button{width: 5rem;padding: 1rem;border: 1px solid black;background-color: greenyellow;border-radius: 1rem;}
}

#information {
  grid-area: info;
  padding: 2rem;
  background-color: #f3f3f3;
  border-radius: 1rem;
}

#map {
  grid-area: mapa;
  width: 100%;
  max-width: 30rem;
  border-radius: 1rem;
  overflow: hidden;
}
